@using ShoeShop.Data

@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="profile-nav">
    <div class="nav-section">
        <h6 class="nav-section-title">Основные настройки</h6>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">
                    <i class="fas fa-user me-2"></i>Профиль
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" asp-page="./Email">
                    <i class="fas fa-envelope me-2"></i>Электронная почта
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">
                    <i class="fas fa-lock me-2"></i>Пароль
                </a>
            </li>
        </ul>
    </div>
    
    <div class="nav-section">
        <h6 class="nav-section-title">Безопасность</h6>
        <ul class="nav nav-pills flex-column">
            @if (hasExternalLogins)
            {
                <li class="nav-item">
                    <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                        <i class="fas fa-link me-2"></i>Внешние сервисы
                    </a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication">
                    <i class="fas fa-shield-alt me-2"></i>Двухфакторная аутентификация
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">
                    <i class="fas fa-database me-2"></i>Личные данные
                </a>
            </li>
        </ul>
    </div>
</div>
